In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
import os
import pickle

import ranch

In [2]:
root_dir = "D:\github\Ranch"

input_dir = os.path.join(root_dir, 'data', 'external','sjmodel','shst_match')

In [69]:
output_dir = os.path.join(root_dir, 'data', 'interim')

In [49]:
# shst match output
conflation_df = gpd.read_file(os.path.join(input_dir, 'match.TCM_MASTER_2A22_102717.matched.geojson'))

# match input with #lanes info
county_df = gpd.read_file(os.path.join(input_dir, "TCM_MASTER_2A22_102717.full.geojson"))

In [50]:
county_df.unique_id.max()

49910

In [51]:
conflation_df.pp_unique_id.max()

49910

In [6]:
# network object
working_network_filename = os.path.join(root_dir,"data", "interim","step8_network.pickle")

roadway_network = pickle.load(open(working_network_filename, 'rb'))

In [52]:
conflation_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 136840 entries, 0 to 136839
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   shstReferenceId         136840 non-null  object
 1   shstGeometryId          136840 non-null  object
 2   shstFromIntersectionId  136840 non-null  object
 3   shstToIntersectionId    136840 non-null  object
 4   gisReferenceId          136840 non-null  object
 5   gisGeometryId           136840 non-null  object
 6   gisTotalSegments        136840 non-null  int64
 7   gisSegmentIndex         136840 non-null  int64
 8   gisFromIntersectionId   136840 non-null  object
 9   gisToIntersectionId     136840 non-null  object
 10  startSideOfStreet       136840 non-null  object
 11  endSideOfStreet         136840 non-null  object
 12  sideOfStreet            136840 non-null  object
 13  score                   136840 non-null  float64
 14  matchType               136840 non-null  object
 15  pp_unique_id            136840 non-null  int64
 16  geometry                136840 non-null  geometry
dtypes: float64(1), geometry(1), int64(3), object(12)
memory usage: 17.7+ MB

In [53]:
conflation_df

,shstReferenceId,shstGeometryId,shstFromIntersectionId,shstToIntersectionId,gisReferenceId,gisGeometryId,gisTotalSegments,gisSegmentIndex,gisFromIntersectionId,gisToIntersectionId,startSideOfStreet,endSideOfStreet,sideOfStreet,score,matchType,pp_unique_id,geometry
0,66df76e3516acfe7dcc7cdf4bebdc291,511cbfed528dabb9a6293fdf61159357,f4ab0388e4e36ff3b9b7e76691711bc7,51acf5c316c6d8a2c66339fe006e2103,6cc0769ccaf88052fcc06364f7289616,b6262b3995c4fb27f4cd72a8e82c4131,1,1,e1f5552812b0539f1370d187bc0064aa,e55cc008457a3ab76e648e365ac7fc11,left,left,left,15.39,hmm,1,"LINESTRING (-121.44923 38.25767, -121.44922 38..."
1,24829de71b57e5c8d741d3d2f2ca63e4,cf5688a3ec4dc7903b52fbfa02cf834a,38851795fdc5c56ffa72b256164e7863,9cad00c87620e03a4a023dee400f8431,5d11383784e055799c71d87bb6e65479,b6262b3995c4fb27f4cd72a8e82c4131,1,1,e55cc008457a3ab76e648e365ac7fc11,e1f5552812b0539f1370d187bc0064aa,left,left,left,11.70,hmm,1,"LINESTRING (-121.44722 38.25348, -121.44754 38..."
2,a09850ce2e39b6cfadd930636619c5b4,e93a0c2ee96a83f9df78574fa8e930e4,7ab60b2c8f117c139256365a885fa0b0,895993856edab15e851ec3ddb8f38cbb,9be89b9ad83a16c1eddcae83750a3cab,418e9beb9970a4c02465587f804c3f8d,3,1,1b5dae765faaec146b08e87d13ce06c3,877f243c6aa32fdedba6a2dd04670388,left,left,left,21.79,hmm,5,"LINESTRING (-121.30704 38.28012, -121.30660 38..."
3,a8e191a55564d09af2290e31c2bd2989,f6a6a005cda3491001bb6dd727a43e9f,895993856edab15e851ec3ddb8f38cbb,96e73a1ee6e1d5c04816d52c37a8d174,9be89b9ad83a16c1eddcae83750a3cab,418e9beb9970a4c02465587f804c3f8d,3,2,1b5dae765faaec146b08e87d13ce06c3,877f243c6aa32fdedba6a2dd04670388,left,left,left,21.79,hmm,5,"LINESTRING (-121.30565 38.27884, -121.30550 38..."
4,7c2184c2b028d373a50468cab06edb75,9351823a33eb4e9ed2f563934b581858,96e73a1ee6e1d5c04816d52c37a8d174,a74e2a2c2a3b52bb69f0bc0362236023,9be89b9ad83a16c1eddcae83750a3cab,418e9beb9970a4c02465587f804c3f8d,3,3,1b5dae765faaec146b08e87d13ce06c3,877f243c6aa32fdedba6a2dd04670388,left,left,left,21.79,hmm,5,"LINESTRING (-121.30225 38.26978, -121.30200 38..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136835,c68a51df5649cef633241763bfff62c2,b9a3914431ea43145b8c85cc506bc465,df2be2d47443a0ae7aec26abd418d081,7874d71b07f7334babe2c6aa73fed391,0ee39a2615491a7444a89f90d682fa23,060e19a51d88fead4f6f91b5c87c2a97,1,1,600c82d7589c26f2dc41f49a61a3c768,fc546c58901be040e774cbfd0eb881b0,left,left,left,32.65,hmm,49909,"LINESTRING (-121.21127 37.49404, -121.21062 37..."
136836,c68a51df5649cef633241763bfff62c2,b9a3914431ea43145b8c85cc506bc465,df2be2d47443a0ae7aec26abd418d081,7874d71b07f7334babe2c6aa73fed391,15d991c728e8b557f3da2632d7ddcfb8,126fed62423eecca7b7eef61cac319e8,2,1,a14c65bb697beb86c1b14ef02987137a,4e01ce081ac111082fc9ba4f8652ee23,left,left,left,4.56,hmm,49910,"LINESTRING (-121.20743 37.49034, -121.20417 37..."
136837,3ffae028c468b45af5835c64b6b60b5d,6f545ebe0108de20e17b72b1e723f38c,7874d71b07f7334babe2c6aa73fed391,5b3560f19a06bec3642a358443b5db61,15d991c728e8b557f3da2632d7ddcfb8,126fed62423eecca7b7eef61cac319e8,2,2,a14c65bb697beb86c1b14ef02987137a,4e01ce081ac111082fc9ba4f8652ee23,left,left,left,4.56,hmm,49910,"LINESTRING (-121.18358 37.46662, -121.18294 37..."
136838,1e31d268b9e62bfe67e00753ed4dbae4,b80bdb4f3b73800f647073c4c5d90722,b3c73261c93f7e8a0e24c9304081229d,e5a3976a4c22f1936f322f8b78df7450,d35c30634a8e3f623537c478999e1eb6,126fed62423eecca7b7eef61cac319e8,2,1,4e01ce081ac111082fc9ba4f8652ee23,a14c65bb697beb86c1b14ef02987137a,left,left,left,28.24,hmm,49910,"LINESTRING (-121.18254 37.46612, -121.18298 37..."
136839,754f67fffaa6a133f6b787570d013bc6,7daa237a89121b161cd3a4cc8ebc9b18,e5a3976a4c22f1936f322f8b78df7450,7b506984f0981a6a5da2e2747e1e39fd,d35c30634a8e3f623537c478999e1eb6,126fed62423eecca7b7eef61cac319e8,2,2,4e01ce081ac111082fc9ba4f8652ee23,a14c65bb697beb86c1b14ef02987137a,left,left,left,28.24,hmm,49910,"LINESTRING (-121.18298 37.46659, -121.18465 37..."

In [54]:
# number of unique links in the input network
county_df.unique_id.nunique()

49910

In [55]:
county_df.columns.tolist()

['A',
 'B',
 'ROUTE',
 'IMP1_PRJID',
 'IMP2_PRJID',
 'IMP1_PRJYR',
 'IMP2_PRJYR',
 'BASE_FACTYP',
 'IMP1_FACTYP',
 'IMP2_FACTYP',
 'BASE_LANES',
 'IMP1_LANES',
 'IMP2_LANES',
 'BASE_AUX',
 'IMP1_AUX',
 'IMP2_AUX',
 'BASE_SPEED',
 'IMP1_SPEED',
 'IMP2_SPEED',
 'BASE_USE',
 'IMP1_USE',
 'IMP2_USE',
 'BASE_TOLL',
 'IMP1_TOLL',
 'IMP2_TOLL',
 'TERRAIN',
 'NAME',
 'JURISDICTIO',
 'SCREENLINE',
 'DISTANCE',
 'BASE_AREATY',
 'IMP1_AREATY',
 'IMP2_AREATY',
 'DIST_ADJ',
 'AREATYP',
 'IMP1_DESC',
 'IMP2_DESC',
 'CMPFLAG',
 'D1',
 'D2',
 'D8',
 'D9',
 'D11',
 'D12',
 'D13',
 'D14',
 'D15',
 'D16',
 'D17',
 'D19',
 'D21',
 'D22',
 'D23',
 'D24',
 'D25',
 'D26',
 'D27',
 'D29',
 'D31',
 'D32',
 'D33',
 'D34',
 'D35',
 'AIRBASIN',
 'ID',
 'CNTID',
 'ROAD',
 'DESCRIPTION',
 'DIRECTION',
 'DIR',
 'DOW',
 'MONTH',
 'DAY',
 'YR',
 'STDYID',
 'A01_TIME',
 'A03_TIME',
 'M07_TIME',
 'P01_TIME',
 'P03_TIME',
 'E11_TIME',
 'A01_CNT',
 'TOT_A01_CNT',
 'A03_CNT',
 'TOT_A03_CNT',
 'M07_CNT',
 'TOT_M07_CNT',
 'P01_CNT',
 'TOT_P01_CNT',
 'P03_CNT',
 'TOT_P03_CNT',
 'E11_CNT',
 'TOT_E11_CNT',
 'D24_CNT',
 'TOT_D24_CNT',
 'A01_PAS',
 'TOT_A01_PAS',
 'A03_PAS',
 'TOT_A03_PAS',
 'M07_PAS',
 'TOT_M07_PAS',
 'P01_PAS',
 'TOT_P01_PAS',
 'P03_PAS',
 'TOT_P03_PAS',
 'E11_PAS',
 'TOT_E11_PAS',
 'D24_PAS',
 'TOT_D24_PAS',
 'A01_MED',
 'TOT_A01_MED',
 'A03_MED',
 'TOT_A03_MED',
 'M07_MED',
 'TOT_M07_MED',
 'P01_MED',
 'TOT_P01_MED',
 'P03_MED',
 'TOT_P03_MED',
 'E11_MED',
 'TOT_E11_MED',
 'D24_MED',
 'TOT_D24_MED',
 'A01_HVY',
 'TOT_A01_HVY',
 'A03_HVY',
 'TOT_A03_HVY',
 'M07_HVY',
 'TOT_M07_HVY',
 'P01_HVY',
 'TOT_P01_HVY',
 'P03_HVY',
 'TOT_P03_HVY',
 'E11_HVY',
 'TOT_E11_HVY',
 'D24_HVY',
 'TOT_D24_HVY',
 'A01_TRK',
 'TOT_A01_TRK',
 'A03_TRK',
 'TOT_A03_TRK',
 'M07_TRK',
 'TOT_M07_TRK',
 'P01_TRK',
 'TOT_P01_TRK',
 'P03_TRK',
 'TOT_P03_TRK',
 'E11_TRK',
 'TOT_E11_TRK',
 'D24_TRK',
 'TOT_D24_TRK',
 'A01_UNC',
 'TOT_A01_UNC',
 'A03_UNC',
 'TOT_A03_UNC',
 'M07_UNC',
 'TOT_M07_UNC',
 'P01_UNC',
 'TOT_P01_UNC',
 'P03_UNC',
 'TOT_P03_UNC',
 'E11_UNC',
 'TOT_E11_UNC',
 'D24_UNC',
 'TOT_D24_UNC',
 'A01_AVG_SP',
 'TOT_A01_AVG',
 'A03_AVG_SP',
 'TOT_A03_AVG',
 'M07_AVG_SP',
 'TOT_M07_AVG',
 'P01_AVG_SP',
 'TOT_P01_AVG',
 'P03_AVG_SP',
 'TOT_P03_AVG',
 'E11_AVG_SP',
 'TOT_E11_AVG',
 'D24_AVG_SP',
 'TOT_D24_AVG',
 'SOURCE',
 'FLAG_FACTYP',
 'FLAG_2014',
 'IMP_CHANGE',
 'NEW_FACTYP',
 'unique_id',
 'geometry']

In [56]:
# number of unique links in the input that got shst match
conflation_df.pp_unique_id.nunique()

36865

In [57]:
# number of unique shstReferenceIds in the match
print(conflation_df.shstReferenceId.nunique())

# number of unique shstGeometryIds in the match
print(conflation_df.shstGeometryId.nunique())

59512
32591

In [58]:
# number of unique shstReferenceIds in the network
print(roadway_network.links_df.shstReferenceId.nunique())

# number of unique shstGeometryIds in the network
print(roadway_network.links_df.shstGeometryId.nunique())

118218
61978

In [59]:
# join conflation database with input database

conflation_df = pd.merge(
    conflation_df.rename(columns = {'pp_unique_id' : 'unique_id'}),
    county_df[['unique_id', 'BASE_LANES']],
    how = 'left',
    on = 'unique_id'
)

conflation_df = conflation_df[conflation_df['BASE_LANES'] > 0]

In [60]:
conflation_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 134644 entries, 0 to 136839
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   shstReferenceId         134644 non-null  object
 1   shstGeometryId          134644 non-null  object
 2   shstFromIntersectionId  134644 non-null  object
 3   shstToIntersectionId    134644 non-null  object
 4   gisReferenceId          134644 non-null  object
 5   gisGeometryId           134644 non-null  object
 6   gisTotalSegments        134644 non-null  int64
 7   gisSegmentIndex         134644 non-null  int64
 8   gisFromIntersectionId   134644 non-null  object
 9   gisToIntersectionId     134644 non-null  object
 10  startSideOfStreet       134644 non-null  object
 11  endSideOfStreet         134644 non-null  object
 12  sideOfStreet            134644 non-null  object
 13  score                   134644 non-null  float64
 14  matchType               134644 non-null  object
 15  unique_id               134644 non-null  int64
 16  geometry                134644 non-null  geometry
 17  BASE_LANES              134644 non-null  int64
dtypes: float64(1), geometry(1), int64(4), object(12)
memory usage: 19.5+ MB

In [61]:
# drop duplciates in the conflation database

conflation_df.drop_duplicates(inplace = True)

conflation_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 134644 entries, 0 to 136839
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   shstReferenceId         134644 non-null  object
 1   shstGeometryId          134644 non-null  object
 2   shstFromIntersectionId  134644 non-null  object
 3   shstToIntersectionId    134644 non-null  object
 4   gisReferenceId          134644 non-null  object
 5   gisGeometryId           134644 non-null  object
 6   gisTotalSegments        134644 non-null  int64
 7   gisSegmentIndex         134644 non-null  int64
 8   gisFromIntersectionId   134644 non-null  object
 9   gisToIntersectionId     134644 non-null  object
 10  startSideOfStreet       134644 non-null  object
 11  endSideOfStreet         134644 non-null  object
 12  sideOfStreet            134644 non-null  object
 13  score                   134644 non-null  float64
 14  matchType               134644 non-null  object
 15  unique_id               134644 non-null  int64
 16  geometry                134644 non-null  geometry
 17  BASE_LANES              134644 non-null  int64
dtypes: float64(1), geometry(1), int64(4), object(12)
memory usage: 19.5+ MB

In [62]:
# in conflation df, aggregate based on shstReferenceId, get all number of lanes for each shstReferenceId

lanes_conflation_df = conflation_df.groupby(
    ['shstReferenceId']
)['BASE_LANES'].apply(list).to_frame().reset_index()

In [64]:
lanes_conflation_df['base_lanes_min'] = lanes_conflation_df['BASE_LANES'].apply(lambda x: min(set(x)))
lanes_conflation_df['base_lanes_max'] = lanes_conflation_df['BASE_LANES'].apply(lambda x: max(set(x)))

In [65]:
lanes_conflation_df[lanes_conflation_df.base_lanes_min != lanes_conflation_df.base_lanes_max]

,shstReferenceId,BASE_LANES,base_lanes_min,base_lanes_max
307,0162a929afbbcb833259773c89eb4387,"[2, 3]",2,3
345,01932f00817df5960cf55e57831d36d3,"[3, 3, 3, 3, 1, 3]",1,3
460,02007cb21095a1de77adca24c15ca7aa,"[1, 2, 2]",1,2
485,021c6add2eecbea66b74478cb3a98107,"[2, 1, 2, 1]",1,2
502,022604055ddc6468d2239cdb7142f1b7,"[1, 2, 1, 2]",1,2
...,...,...,...,...
58561,fe9e1051c7d4bead2a3b37a43e0676f9,"[2, 2, 3, 2]",2,3
58615,fed16045285e827b8ba44d2b64574717,"[3, 2]",2,3
58628,fede10368ee318050c4c5b956b73c8cb,"[2, 1]",1,2
58642,feed59a68af202bbfb56a23c912f6bb8,"[2, 3]",2,3
58829,ffb3e0e133b300b4b6a99be5645ad79d,"[2, 2, 1]",1,2

In [66]:
lanes_conflation_df = pd.merge(
    roadway_network.links_df[['shstReferenceId']],
    lanes_conflation_df,
    how = 'left',
    on = 'shstReferenceId'
)

In [67]:
lanes_conflation_df[(lanes_conflation_df.base_lanes_min != lanes_conflation_df.base_lanes_max) &
                    (lanes_conflation_df.BASE_LANES.notnull())
                    ]

,shstReferenceId,BASE_LANES,base_lanes_min,base_lanes_max
908,03a8198f806720ed5a01d17330e17668,"[3, 2]",2.0,3.0
937,03ccb5a55d0befb468497f7fb2453d26,"[2, 1]",1.0,2.0
1138,049095dca74dd5a47cc78330ec299fe3,"[3, 2, 3]",2.0,3.0
1255,04f63c713d9bb003a7c8e48c45d865c0,"[2, 2, 2, 2, 1]",1.0,2.0
1591,066c4c10a741141247bb0d80c1849368,"[2, 2, 2, 1, 2]",1.0,2.0
...,...,...,...,...
110598,dd42d646cb947d8016826bf322b73b7b,"[1, 2, 1, 2]",1.0,2.0
113343,e9dabe84293c9da5fa234ac2170a5bf2,"[1, 2, 1, 2]",1.0,2.0
113387,ea0e0fd8519d2478ba29c01825c465ad,"[1, 1, 2]",1.0,2.0
113888,ec59c60fed09fe6b561ea6d8e65f4c3b,"[1, 1, 2, 1, 1]",1.0,2.0
115829,f517dc58f2bc9012ed039acd23354b2c,"[2, 1, 2, 1]",1.0,2.0

In [68]:
lanes_conflation_df[lanes_conflation_df.shstReferenceId == '5c6836b993450e870c8beaad7e32dfc5']

,shstReferenceId,BASE_LANES,base_lanes_min,base_lanes_max
22286,5c6836b993450e870c8beaad7e32dfc5,"[3, 3, 3, 3, 3, 3, 3]",3.0,3.0

In [70]:
lanes_conflation_df.to_csv(os.path.join(output_dir, 'sjmodel_legacy_lanes.csv'), index = False)

In [101]:
roadway_network.links_df.loc[10]

shstReferenceId                            000742234f2495fa71b9edb2fa5f0703
id                                         1cc2970411acefa056dcf1a83d1eeee4
shstGeometryId                             1cc2970411acefa056dcf1a83d1eeee4
fromIntersectionId                         aa762125d97503bc1fcc1e0182de5676
toIntersectionId                           0f584d484c32ea8bc5ecc61034f530e0
geometry                  LINESTRING (-121.362367 38.0249996, -121.36323...
u                                                                3695955047
v                                                                3695955050
nodeIds                   [[3695955047, 3695955043, 3695955044, 36959550...
wayId                                                [365594498, 365594500]
roadClass                                        [Residential, Residential]
oneWay                                                       [False, False]
roundabout                                                   [False, False]
link                                                         [False, False]
name                                                             [nan, nan]
highway                                          [residential, residential]
oneway                                                       [False, False]
lanes                                                            [nan, nan]
ref                                                              [nan, nan]
service                                                          [nan, nan]
maxspeed                                                         [nan, nan]
access                                                           [nan, nan]
bridge                                                           [nan, nan]
junction                                                         [nan, nan]
tunnel                                                           [nan, nan]
width                                                            [nan, nan]
key                                                              [0.0, 0.0]
forward                                                                 1.0
roadway                                                         residential
drive_access                                                              1
walk_access                                                               1
bike_access                                                               1
county                                                          San Joaquin
length                                                           142.135596
model_link_id                                                       8500009
county_numbering_start                                              8500000
A                                                                   5250009
B                                                                   5284814
locationReferences        [{'sequence': 1, 'point': [-121.362367, 38.024...
Name: 10, dtype: object

In [98]:
osm_lanes_df = roadway_network.links_df[['shstReferenceId', 'lanes']].copy()

In [110]:
osm_lanes_df['lanes'].isnull().sum()

0

In [124]:
osm_lanes_df['osm_lanes_min'] = osm_lanes_df['lanes'].apply(
    lambda x: min(','.join(filter(str.isdigit, x)).split(','))
)

osm_lanes_df['osm_lanes_max'] = osm_lanes_df['lanes'].apply(
    lambda x: max(','.join(filter(str.isdigit, x)).split(','))
)

In [136]:
osm_lanes_df[osm_lanes_df.lanes.str.len() > 3]

,shstReferenceId,lanes,osm_lanes_min,osm_lanes_max
268,00b6dca624dbef9e899d703b0b0b0905,"[3, 2, 2, nan]",2,3
398,010a035dbe55e729557eb9c8fccb08b6,"[nan, nan, nan, nan, nan]",,
1452,03a8198f806720ed5a01d17330e17668,"[2, 2, 2, 2]",2,2
3451,087f79c69280cda6a1a6bd50cf6429b5,"[, , , ]",,
5344,0d4e55b53e6c1bd048c6c6ac32d2d0b9,"[nan, nan, nan, nan, nan]",,
...,...,...,...,...
187231,f20f7bf0f4430087a456f028ba9a369d,"[5, 3, 3, 4]",3,5
187629,f314dff8e976740ed91c6ef32f33527b,"[nan, nan, nan, nan]",,
189104,f730a4c1ee766eeba0c75bd9f47c4ab3,"[nan, nan, nan, nan]",,
189273,f7a8cd84d52caa40af64f3f45b5133c7,"[3, 2, 2, 2]",2,3
191618,fe2b1e9b1d84721209ad7b080e2d4878,"[6, 3, 4, 4, 2]",2,6

In [139]:
osm_lanes_df.to_csv(os.path.join(output_dir, 'osm_lanes.csv'), index = False)

In [140]:
taz_polygon_gdf = gpd.read_file(os.path.join(root_dir, 'data','external', 'taz', 'SJ_TAZ_Aug2011.shp'))

In [141]:
taz_polygon_gdf

,BlckGrp00,BlckGrp10,JURISDCTN,SOI,COMMUNITY,PLACE10,PREMIP_TAZ,TAZ_MIP,TAZ_03_11,Acres,geometry
0,060770047021000,060770047032000,SAN JOAQUIN COUNTY,UNINCORPORATED,Lockeford,None,382,2538,3147,8680.394467,"POLYGON ((6379216.204 2282704.390, 6379177.852..."
1,060770047021006,060770047032008,SAN JOAQUIN COUNTY,UNINCORPORATED,Lockeford,None,381,2537,3146,5479.571430,"POLYGON ((6392505.820 2272855.459, 6391478.010..."
2,060770045001006,060770045011013,LODI,LODI,Lodi,Lodi,364,1845,2025,238.526313,"POLYGON ((6346318.191 2242012.002, 6346106.846..."
3,060770047021017,060770047032018,SAN JOAQUIN COUNTY,UNINCORPORATED,Lockeford,None,379,2536,3144,1826.574840,"POLYGON ((6391200.509 2261917.536, 6390974.561..."
4,060770047022015,060770047031000,SAN JOAQUIN COUNTY,UNINCORPORATED,Lockeford,None,375,2533,3140,467.700332,"POLYGON ((6359664.419 2277928.987, 6359737.380..."
...,...,...,...,...,...,...,...,...,...,...,...
890,060770042021999,060770042021034,LODI,LODI,Lodi,Lodi,331,1813,1993,88.123800,"POLYGON ((6333856.853 2242068.043, 6333758.918..."
891,060770052031006,060770052061007,TRACY,TRACY,Tracy,None,518,2473,2916,1645.376055,"POLYGON ((6291356.179 2101672.063, 6291732.423..."
892,060770051141001,060770051142009,MANTECA,MANTECA,Manteca,Manteca,9999,1886,2139,11.236251,"POLYGON ((6359196.213 2108518.805, 6359183.674..."
893,060770054031002,060770054031006,TRACY,TRACY,Tracy,Tracy,563,2445,2954,42.707885,"POLYGON ((6291479.299 2092027.738, 6291342.636..."
894,060770054045001,060770054051001,TRACY,TRACY,Tracy,Tracy,565,2447,2956,101.181015,"POLYGON ((6294008.379 2090757.258, 6293989.018..."

In [143]:
taz_polygon_gdf.to_crs(epsg = 4629)

,BlckGrp00,BlckGrp10,JURISDCTN,SOI,COMMUNITY,PLACE10,PREMIP_TAZ,TAZ_MIP,TAZ_03_11,Acres,geometry
0,060770047021000,060770047032000,SAN JOAQUIN COUNTY,UNINCORPORATED,Lockeford,None,382,2538,3147,8680.394467,"POLYGON ((-121.13544 38.26225, -121.13558 38.2..."
1,060770047021006,060770047032008,SAN JOAQUIN COUNTY,UNINCORPORATED,Lockeford,None,381,2537,3146,5479.571430,"POLYGON ((-121.08894 38.23544, -121.09252 38.2..."
2,060770045001006,060770045011013,LODI,LODI,Lodi,Lodi,364,1845,2025,238.526313,"POLYGON ((-121.24888 38.14984, -121.24959 38.1..."
3,060770047021017,060770047032018,SAN JOAQUIN COUNTY,UNINCORPORATED,Lockeford,None,379,2536,3144,1826.574840,"POLYGON ((-121.09325 38.20539, -121.09404 38.2..."
4,060770047022015,060770047031000,SAN JOAQUIN COUNTY,UNINCORPORATED,Lockeford,None,375,2533,3140,467.700332,"POLYGON ((-121.20341 38.24875, -121.20316 38.2..."
...,...,...,...,...,...,...,...,...,...,...,...
890,060770042021999,060770042021034,LODI,LODI,Lodi,Lodi,331,1813,1993,88.123800,"POLYGON ((-121.29222 38.14971, -121.29251 38.1..."
891,060770052031006,060770052061007,TRACY,TRACY,Tracy,None,518,2473,2916,1645.376055,"POLYGON ((-121.43513 37.76309, -121.43426 37.7..."
892,060770051141001,060770051142009,MANTECA,MANTECA,Manteca,Manteca,9999,1886,2139,11.236251,"POLYGON ((-121.20062 37.78352, -121.20069 37.7..."
893,060770054031002,060770054031006,TRACY,TRACY,Tracy,Tracy,563,2445,2954,42.707885,"POLYGON ((-121.43437 37.73661, -121.43484 37.7..."
894,060770054045001,060770054051001,TRACY,TRACY,Tracy,Tracy,565,2447,2956,101.181015,"POLYGON ((-121.42558 37.73319, -121.42566 37.7..."